%h1 Rooms
%section
  - @rooms.each do |r|
    %article
      %span= link_to r.name, "/rooms/#{r.id}/edit", :style => "color: #{r.color}"
      %span= link_to "Delete", "/rooms/#{r.id}/delete", :class=> "delete"

  = paginate @rooms

  %p= link_to "Ajouter", "/rooms/new", :class=> "add"
